 body {
	font-family: "Arial", "宋体";
	font-size: 11pt;
	background-color: #ffffff;
}
p {  font-family: "宋体"; font-size: 10pt; margin-top: 0pt; margin-bottom: 1pt;}
table {  font-family: "Arial", "宋体"; font-size: 11pt; color: #000000}
td {  font-family: "Arial", "宋体"; font-size: 10pt}
table.list{
 border-left:#009C98 1pt solid; border-bottom:#009C98 1pt solid;  
 	}
table.list td{
border-top:#009C98 1pt solid;border-right:#009C98 1pt solid
	}
table.noline{
border-width:0pt	
	}
table.noline td{
border-width:0pt	
	}
.GREY {color: #666666;font-family: "Arial", "宋体";font-size: 8pt;height: 10pt}
a:link {
	color:#009999;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #1B7267;
}
a:hover {
	text-decoration:underline;
	color: #00B3B3;
}
a:active {
	text-decoration: none;
	color: #1B7267;
}